<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>260471499034-96l3sftkj5r159oos30tphe7p2i97087.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260471499034-96l3sftkj5r159oos30tphe7p2i97087</string>
	<key>API_KEY</key>
	<string>AIzaSyAALaM3lx-nGIo5guncXCUMUwLcifyk01M</string>
	<key>GCM_SENDER_ID</key>
	<string>260471499034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.makeschool.test</string>
	<key>PROJECT_ID</key>
	<string>catchauni</string>
	<key>STORAGE_BUCKET</key>
	<string>catchauni.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:260471499034:ios:848b18e0b3bbe5d4</string>
	<key>DATABASE_URL</key>
	<string>https://catchauni.firebaseio.com</string>
</dict>
</plist>